/* CSS Document */
*{margin:0; padding:0;}
body{margin:0; padding:0;}
div,ul,li,form,img,dl,dt{margin:0; padding:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
img{border:none;}
table{border-collapse:collapse;border-spacing:0;}
a{color:#333; text-decoration:none;} 
a:hover{ color:#339933;}
.clear{clear:both;width:100%;height:0;font-size:0px;line-height:0; overflow:hidden; margin:0; padding:0;}
.fr{float:right; font-weight:normal;}
h3{font-size:14px;}

/*主页*/
.banner { width:100%; margin:0 0 10% 0; padding:15% 0 12% 0%;background:url(banner.jpg) no-repeat center center; background-size:100% 100%; }
.banner img { width:100%; height:auto; }
.banner p{color:#fff; text-align:center;}
.banner p.name{font-size:150%;}
.head { width:27%;  margin:0 auto;border:#ddf095 8px solid; -moz-border-radius:50%;-webkit-border-radius:50%; border-radius: 50%; overflow:hidden; font-size:0; line-height:0}
.main { width:100%;  background:#eee;}
.main ul { width:100%; margin:0 auto; }
.main li { width:33.3%;  float:left; margin:0 0 7% 0; text-align:center}
.main li img{width:75%;}
.footer { width:100%; padding:2% 0 1% 0;  background:#fff; border-top:1px solid #c9c8c8; clear:both;}
.state {  margin:0 auto}
.state dl { width:20%; float:left;  text-align:center; color:#999}
.state dl dt img{width:40%;}
.state dl dt {width:100%;}
.state dl dd { font-size:80%}

/*课外作业*/
.task { width:90%; margin-top:1.25em; margin-left:auto; margin-right:auto; padding:0.625em 0; background:#f3f3f3; border:1px solid #ddd;}
.title { text-align:left; font-size:150%;}
.content { padding:0.9375em; width:16em; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.issue { padding:0.3125em; font-size:0.875em }
.issue .teacher { float:left;}
.issue .time { float:right;}

/*登陆*/
.topbar{position:relative;padding:0.5em 0;font-size:150%; text-align:center; color:#fff;background:#01aed9; }
.login_box{width:90%; margin:5% auto; }
.text{display:block;width:99.5%;padding:3% 0; text-indent:0.5em;font-size:120%; border:#ddd 1px solid; color:#666;background:#f7f7f7;}
.username{border-bottom:none;}
.login_btn{display:block;width:100%; margin:5% 0;padding:2.5% 0;text-align:center;font-size:120%;background:#01aed9; border:#01aed9 1px solid; color:#fff;}
.text:focus{background:#fff; }
.login_btn:focus{background:#02a5cd}

/*孩子动态*/
.list_body{background:#eee url(../images/bg_line.png) repeat-y 3.5em 0;}
.list{padding:0.5em;}
.list ul li{padding:0.5em 0;}
.list span{float:left;}
.list span img{width:1.5em; margin:0.1em 0.2em 0 0}
.point{ margin:1.4em 0 0 0;background:#aaaaaa; padding:0.5em;-moz-border-radius:50%;-webkit-border-radius:50%; border-radius: 50%; }
.list_con{ width:73%;padding:0.5em; border: 1px solid #aaaaaa;-moz-border-radius:0.5em;-webkit-border-radius:0.5em;border-radius:0.5em;background:#aaaaaa; color:#fff;}
.triangle-left {width:0;height: 0; margin:1.3em 0 0 1%;border-top:8px solid transparent;border-right: 8px solid #aaaaaa;border-bottom:8px solid transparent; }
.list_date{margin:1.3em 0 0 0; color:#666;}
.list ul li.current .list_date{ color:#01aed9;}
.list ul li.current .list_con{ background:#01aed9;border: 1px solid #01aed9;}
.list ul li.current .point{ background:#01aed9;}
.list ul li.current .triangle-left{ border-right: 8px solid #01aed9;}
.back_btn{ position:absolute;display:inline-block; background:url(back_btn.png) no-repeat; padding:0.5em 0.8em; left:0.5em; top:0.5em; background-size:contain}

.page { width:90%;   font-size:0.875em; text-align:right; margin-top:1em; margin-left:auto; margin-right:auto;}
.page a {border:solid 1px #01aed9;padding:0.5em 0.35em 0.5em 0.35em}